.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #1e293b;
    color: #6ac4eb;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.headerText {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #1e293b;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.icons {
  height: 50px;
  width: 50px;
  background-color: beige;
}

.icons:hover {
  height: 50px;
  width: 50px;
  background-color: rgb(153, 153, 153);
}

.link-space {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  position: center
}