.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #1e293b;
    color: #6ac4eb;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.headerText {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

form {
    text-align: center;
}

.numBox {
    border-radius: 5px;
    padding: 5px;
    border-color: #1e293b;
    width: 100px;
}

.submitBox {
    height: 45px;
    border-radius: 5px;
    border-color: #1e293b;
}

.linkBox {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    border-color: #1e293b;
}

.divForm {
    width:50%
    display: flex;
}

.variables {
    margin-left: auto;
    margin-right: auto;
}

.riskAlert {
    padding-top: 60px;
    font-siz: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

p {
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #1e293b;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.minutes {
    text-align: right;
}

.timeInput {
    padding-top: 16px;
    justify-content: space-evenly;
}

.centerResults {
    text-align: center;
}

.icons {
  height: 40px;
  width: 40px;
  background-color: #6ac4eb;
  border-radius: 45%;
}

.icons:hover {
  height: 40px;
  width: 40px;
  background-color: #5aaacc;
  border-radius: 45%;
}

.link-space {
  margin-left: 2em;
  margin-right: 2em;
}

html body {
    background-color: #e0f6ff;
}

.main {
    position: flex;
    padding-top: 200px;
    top: 80%;
    left: 50%;
    text-align: center;
}

.centerItems {
    margin-right: auto;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #6ac4eb;
}