{% extends "base.html" %}
{% block search %}
<form action="{{ url_for('analysis') }}" method="post">
    <div>
        <input name="url" type="text" placeholder="Copy & Paste a YouTube URL">
        <button type="submit" name="analysis">Analyze</button>
    </div>

    <div class="timeInput">
        <input style="display: inline" name="startMin" type="number" min="0", max="59" value="0" required>
        <p style="display: inline">:</p>
        <input style="display: inline" name="startSec" type="number" min="0", max="59" value="0" required>
        <p style="display: inline">to</p>
        <input style="display: inline" name="endMin" type="number" min="0", max="59" value="0" required>
        <p style="display: inline">:</p>
        <input style="display: inline" name="endSec" type="number" min="1", max="59" value="1" required>
    </div>
</form>
{% endblock %}