<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epilepsy Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <div class="header">
        <h1 class="headerText">Epilepsy Checker</h1>
    </div>
    <div>
        <input type="text" placeholder="Copy & Paste a YouTube URL">
        <button type="submit" name="analyze">Analyze</button>
        <p>hdjndsjkndsjns</p>
    </div>
    <div class="footer">
        <a class="link-space" href="https://www.linkedin.com/in/jephtey-adolphe-160166147/">
            <img src="templates/static/linkedin.png" alt="" class="icons" />
        </a>
        <a class="link-space" href="https://github.com/JephteyAdolphe/epilepsy-checker">
          <img src="templates/static/github.png" alt="" class="icons" />
        </a>
    </div>
</body>
</html>