<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epilepsy Checker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <div class="header">
        <h1 class="headerText">Epilepsy Checker</h1>
    </div>

    <div>
        <div class="main">
            <input type="text" placeholder="Copy & Paste a YouTube URL">
            <button type="submit" name="analyze">Analyze</button>

            <div>
                <div class="variables">
                    <p>Total Frames (360p):</p>
                </div>
                <div class="variables">
                    <p>FPS:</p>
                </div>
                <div class="variables">
                    <p>Flashes per Second:</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="centerItems">
            <a class="link-space" href="https://www.linkedin.com/in/jephtey-adolphe-160166147/">
                <img src="{{url_for('static', filename='linkedin.png')}}" alt="" class="icons" />
            </a>
            <a class="link-space" href="https://github.com/JephteyAdolphe/epilepsy-checker">
              <img src="{{url_for('static', filename='github.png')}}" alt="" class="icons" />
            </a>
        </div>
    </div>
</body>
</html>